Web adaptions:

<h2>Random games</h2>
<ul>
    <li><a href="fresh-fish/ff.html">Fresh Fish</a></li>
</ul>
<h2>Cube rails (Winsome)</h2>
<ul>
    <li><a href="cr/po.html">Preußische Ostbahn</a></li>
</ul>
<h2>18xx stuff</h2>
<ul>
</ul>

